<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
    <script type="module" src="{{ url_for('static', path='/firebase-login.js') }}" ></script>
</head>
<body>
    <div class="main">
        <div id="login-box" hidden="true" >
            <div class="box">
                <div class="form-control">
                    <p class="title">Login</p>
                    <div class="input-field">
                        <input required class="input" type="text" id="email" />
                        <label class="label" for="input">Enter Email</label>
                    </div>
                    <div class="input-field">
                        <input required class="input" type="text" id="password" />
                        <label class="label" for="input">Enter Password</label>
                    </div>
                    <button class="submit-btn" id="login" >Sign In</button>
                    <button class="submit-btn" id="sign-up" >Sign Up</button>
                </div>
            </div>
        </div>
        <button class="submit-btn sign-out " id="sign-out" hidden="true" >
            LogOut 
        </button>
        <div>

        </div>
    </div>
</body>
</html>